@model EDUCACOOPERN.Models.Matricula

@{
    ViewData["Title"] = "Matriculas";
}

<div class="row">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AulaId" class="control-label"></label>
                <select asp-for="AulaId" class="form-control aula-select-2" asp-items="ViewBag.AulaId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <select asp-for="AlunoId" class="form-control aluno-select-2" asp-items="ViewBag.AlunoId"></select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy me-1"></i>Matricular</button>
                    @if(User.IsInRole("Cooperado"))
                    {
                        <a asp-action="Index" asp-asp-controller="Cursos" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
                    }
                    else
                    {
                        <a asp-action="details" asp-asp-controller="Aulas" asp-route-id="@Model.AulaId" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
                    }
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () { 
            $(document).ready(function () {
                $('.aluno-select-2').select2({
                    theme: "bootstrap"
                });

                $('.aula-select-2').select2({
                    theme: "bootstrap"
                });
            });
        });
    </script>
}
