@model List<IGrouping<string?, EDUCACOOPERN.Models.UsuarioPDI>>


@{
    ViewData["Title"] = "Relatório - Cumprimento de PDI";
}

<div class="row">
    <div class="col-8">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />

<div class="card text-bg-light mb-3">
    <div class="card-body">
        <form method="get" class="mb-2">
            <div class="row">
                <div class="col">
                    <label class="control-label">Nome</label>
                    <input class="form-control" name="nome" />
                </div>
                <div class="col-2">
                    <button class="btn btn-primary mt-4">
                        <i class="bi bi-search"></i>
                        Procurar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col">
                    Cooperado
                </th>
                <th class="col-2">% Conclusão Do PDI</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var cursosFinalizados = item
                    .Select(x => x.Usuario.Matriculas.Where(y => y.Status.Equals(EStatusMatricula.Aprovado)))
                    .Count();

                var quantidadeTotalDeCursos = item
                    .Select(x => x.PDI.PDICursos)
                    .Count();

                <tr class="row">
                    <td class="col">
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>

                    <td class="col-1 text-center">
                        @((cursosFinalizados / 100) * quantidadeTotalDeCursos) %
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center">
                Ainda não há nenhum cooperado com PDI!
            </div>
        </div>
    </div>
}