@model List<IGrouping<string?, EDUCACOOPERN.Models.Aula>>


@{
    ViewData["Title"] = "Relatório - Cursos";
}

<div class="row">
    <div class="col-8">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col">
                    Curso
                </th>
                <th class="col-2 text-end">Custos</th>
                <th class="col-2 text-end">Receita</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col">
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>

                    <td class="col-2 tex-end">
                        R$ @item.Sum(x => x.Custos.Sum(y => y.Valor))
                    </td>

                    <td class="col-2 text-end">
                        R$ @item.Sum(x => x.Receita).Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center">
                Ainda não há nenhum cooperado com PDI!
            </div>
        </div>
    </div>
}